p { /* PARAGRAPH SETTINGS */
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1rem;
} 
main { /* MAIN */
    padding: 40px 80px;
}
.grid-container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   gap: 2em;
   padding: 20px;
}

.grid-item {
    background-color: rgba(207, 163, 110, 0.744);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-item h2 {
    color: #ffffff;
    margin-top: 0;
}

.grid-item p {
    font-size: 16px;
    line-height: 1.6;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
a {
  color: #f4dfc2;
}

@media screen and (max-width: 620px) {
  main {
    padding: 20px;
  }

  p {
    font-size: 14px;
  }

  .grid-item {
    padding: 15px;
    font-size: 16px;
  }

  .grid-item p {
    font-size: 14px;
  }

  .grid-container {
    gap: 1em;
    padding: 10px;
  }
}