#heading {
    font-size: 30px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

body {
    color: black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px;
    border-style: hidden;
    border-color: bisque;
    border-radius: 100px;
    margin: 100px 100px 150px 150px;
    padding: 80px 80px 120px 120px
}
p {
    font-size: 15;
}
#nav_menu ul { 
    list-style-type: none; 
}
#nav_menu ul li { 
    float: left;
    width: 190px;
    margin-bottom: 10px;
}
#nav_menu ul li a {
text-align: center;
display: block;
padding: 1em 0;
text-decoration: none;
background-color: #d3b691;
color: black;
font-weight: bold;
border-right: 2px solid white;
border-radius: 10px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
#nav_menu ul li a.lastitem { 
    border-right: none;
}
#nav_menu ul li a:hover {
     background-color: #8c7960;
    }
.services{
    padding: 15px;
    background-color:white;
    border-radius: 10px;
    width: 40%;
    float: left;
    border-style: dotted;
    border-color: #f7e7da;
    border-width: 2px;
}
.services ul {
  list-style-type: square; /* or circle, disc, none */
  padding-left: 20px;
  margin-top: 10px;
}
.prices{
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    float: right;
    border-style: dotted;
    border-color: #f7e7da;  
    border-width: 2px;
}
.prices ul {
  list-style-type: square; /* or circle, disc, none */
  padding-left: 20px;
  margin-top: 10px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}